body {
  background-color: lightgrey;
}

form {
  width: 30%;
  height: 50vh;
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 25vh;
  margin-bottom: 25vh;
  align-self: center;
  border: 10px solid transparent;
  border-image: url(../assets/form_outline.png) 60 stretch;
}

input {
  width: 57.5%;
  margin-left: 20%;
  margin-right: 20%;
}

input:focus {
  outline-width: 0px;
}
