:root {
  --color-primary: #ff2c2c;
  --color-secondary: #9837ff;
  --color-accent: #000;
}

body{
  margin: 0;
  width: 100%;
  color: var(--color-accent);
}

.axonra-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #ff6161, #ff2c2c, #ff005c, #ff0091, #e200ca, #9837ff);
  width: 100%;
}

.axonra-nav a {
  text-decoration: none;
  color: black;
  font-size: calc(2.8vh / 2 + 2.8vw / 2);
}

.active {
  margin-left: -6.4vw;
  margin-right: 6.4vw;
  border-radius: 2vw;
  width: 7.5%;
}

.active img {
  width: 1.7vw;
  padding-right: 0.2vw;
  position: relative;
  bottom: calc(-0.2vh/2 + -0.2vw/2);
}

.profile-pic {
  margin-right: -7.4vw;
  margin-left: 7.4vw;
  width: 2.5%;
}

.button:active {
  background-color: #d40a7aad;
  border-radius: 1.2vw;
}

.button {
  padding-left: 1%;
  padding-right: 1%;
}

.option-content{
  display: none;
  position: absolute;
  right: 0.05%;
  border: 1px solid black;
  background-color: rgb(250, 250, 250);
  width: 20%;
}

.option-content a {
  align-self: center;
}

.show {
  display: block;
}

main {
  background-color: var(--color-primary);
}

.info {
  text-align: center;
  height: 15vw;
}

.info-img {
  width: 1.5%;
}

.info p {
  padding-top: 2%;
  margin: 0;
  font-size: calc(2.5vh/2 + 2.5vw/2);
}

.coming-soon {
  background-color: var(--color-secondary);
  text-align: center;
  align-items: center;
  height: 15vw;
}
