body{
  margin: 0;
  width: 100%;
}

nav {
  list-style-type: none;
  display: flex;
  width: 100%;
  background-color: lightblue;
}

.align {
  align-self: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.active {
  background-color: rgba(253, 23, 23, 0.47);
  width: 11%;
  border-radius: 4vw;
  position: relative;
  top: -0.26px;
}

.button:active {
  background-color: rgba(253, 23, 23, 0.47);
  border-radius: 1vw;
}

.button {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

a {
  text-decoration: none;
  color: black;
  font-size: calc(2.8vh / 2 + 2.8vw / 2);
}

.search_align{
  align-self: center;
}

input {
  margin-right: 1px;
  height: calc(3.1vh/2 + 3.1vw/2);
  width: 22vw;
  font-size: 1.8vw;
}

.logo{
  width: 17%;
  padding-right: 1.5px;
  position: relative;
  bottom: calc(-0.2vh/2 + -0.2vw/2);
}

.option-content{
  display: none;
  position: absolute;
}

.show {
  display: block;
}
